- args = @method == :post ? {url: { action: 'create' }, html: { autocomplete: "off", multipart: true }} : {url: {action: 'update', id: @customer.id}, html: {autocomplete: "off", multipart: true } }

= form_for @customer, args do |f|
  - if flash[:notice]
    .span12.no-margin-left
      .alert.alert-danger
        %p= flash[:notice]

  / - if !current_user.attributes[:logo_file_name].blank?  #Removed bc logo gets set on platform
  /   = f.hidden_field :logo_file_name, value: "#{current_user.logo_file_name}"
  .span12
    .error.ms-red-text
      = f.object.error
  .row-fluid.span10
    .span3
      .form_label
        = f.label :first_name
    .span9
      .form_field
        = f.text_field :first_name, class: "input-block-level"
  .row-fluid.span10
    .span3
      .form_label
        = f.label :last_name
    .span9
      .form_field
        = f.text_field :last_name, class: "input-block-level"
  .row-fluid.span10
    .span3
      .form_label
        = f.label :password
    .span9
      .form_field
        = f.password_field :password, class: "input-block-level"
  .row-fluid.span10
    .span3
      .form_label
        = f.label :email
    .span9
      .form_field
        = f.text_field :email, class: "input-block-level"
  .row-fluid.span10
    .span3
      .form_label
        = f.label :phone_number
    .span9
      .form_field
        = f.text_field :phone_number, class: "input-block-level"
  .row-fluid.span10
    .span3
      .form_label
        = f.label :company_name
    .span9
      .form_field
        = f.text_field :company_name, class: "input-block-level"
  .row-fluid.span10
    .span3
      .form_label
        = f.label :notification_method
    .span9
      .form_field
        = f.select :notification_method, [['SMS', "sms"], ['Email', "email"]], {}, {class: "input-block-level custom-select"}    

  - if current_user.publisher?
    .row-fluid.span10
      .span3
        .form_label
          = f.label :role
      .span9
        .form_field
          = f.select :role, [['Consumer', "consumer"], ['Publisher', "publisher"]], {}, {class: "input-block-level custom-select"}  

    - if @customer.attributes[:logo_url].blank?
      .row-fluid.span10#logo-upload{style: "display:none;"}
        .span3
          .form_label
            = f.label :logo
        .span9
          .form_field
            = file_field_tag :logo_upload
            %img{src: "#{current_user.logo_url}"}
            / %img{src: @customer.attributes[:logo_url]}
    - else   
      .row-fluid.span10#logo-upload{style: "display:block;"}
        .span3
          .form_label
            = f.label :logo
        .span9
          .form_field
            = file_field_tag :logo_upload
            %img{src: @customer.attributes[:logo_url]}
            
  .row-fluid.span10
    #save-cancel-top
      = link_to("Cancel", customers_path)
      = f.submit "Save Changes", :class => 'btn-large btn-custom-large'

    .row-fluid.span10#assign-services
      .span3
        %p Assign Services
    .span12#check-boxes-wrap
      .row-fluid.span12.no-margin-left
        .span10
          %span.checkmark_routes_all
            .form_field
              %input#master_checkbox{:onclick => "toggleChecked(this.checked)", :type => "checkbox"}
            .form_label
              %label{:for => "check_all"} Select / Deselect All
        .span2#expand-collapse-all
          = image_tag('expand_all.png', id: 'expand-all', onclick: 'showAllRoutes()')
          = image_tag('collapse_all.png', id: 'collapse-all', onclick: 'hideAllRoutes()')
      .row-fluid.span12.no-margin-left
        %div#routes_container
          - categorized_routes_hash.each do |resource, routes|
            .span12.no-margin-left.resource-name
              .span10
                - if resource == 'google'
                  %h4= resource.upcase
                - else
                  %h4= resource.gsub('_', ' ').pluralize.upcase
              .span2
                %h4.show-hide-routes{ onclick: "toggleRoutesCategory(this)", data: { resource: resource } } +
            .span12.no-margin-left.routes-by-resource{ data: { category: resource } }
              - routes.each do |route|
                %ul.span6.no-margin-left
                  %li.span1.form_field.checkmark_routes{ style: "margin-left:10px;" }
                    - if route == "GET/api_docs"
                      = hidden_field_tag "customer[authorized_routes][]", route
                      = check_box_tag "customer[authorized_routes][]", route, true, {disabled: true, id: "#{route.gsub(/(\W|\d)/, '_').downcase}"}
                    - else
                      = hidden_field_tag "customer[authorized_routes][]", ""
                      = check_box_tag "customer[authorized_routes][]", route, @customer.authorized_routes ? @customer.authorized_routes.include?(route) : false, {id: "#{route.gsub(/(\W|\d)/, '_').downcase}"}
                  %li.span10.form_label.route-labels
                    = label_tag(route, route)

  .row-fluid.span12
    #save-cancel
      = link_to("Cancel", customers_path)
      = f.submit "Save Changes", :class => 'btn-large btn-custom-large'
